# Android
android-app/.gradle/
android-app/build/
android-app/local.properties
android-app/.idea/
*.iml
*.apk
*.aab

# Python
windows-app/__pycache__/
windows-app/*.pyc
windows-app/.venv/
windows-app/venv/
windows-app/.env
windows-app/virtual_camera/__pycache__/interface.cpython-313.pyc
windows-app/ui/__pycache__/main_window.cpython-313.pyc
windows-app/streaming/__pycache__/receiver.cpython-313.pyc
windows-app/streaming/__pycache__/connection.cpython-313.pyc
windows-app/streaming/__pycache__/decoder.cpython-313.pyc
windows-app/protocol/__pycache__/protocol.cpython-313.pyc
*.pyc

# C++
virtual-camera/build/
virtual-camera/.vs/
virtual-camera/out/
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.ax

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini
